body
{
    background-color: #F1D4D4;
    overflow: hidden;
}
#ret1
{
    background-color: #D39999;
    color: white;
    font-size: 25px;
    height: 100px;
    width: 1680px;
    margin-left: -19px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.quadrado
{
    margin-left: 308px;
    margin-top: 100px;
}
#consd
{
    background-color: #874C4C;
    color: white;
    font-size: 20px;
    width: 493px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#ret2
{
    background-color: #FFF3F3;
    width: 493px;
    height: 431px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#dt
{
    margin-left: 843px;
    margin-top: -514px;
    background-color: #874C4C;
    color: white;
    font-size: 20px;
    width: 430px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#data
{
    margin-left: 843px;
    margin-top: 10px;
}
#hr
{
    margin-left: 843px;
    margin-top: 28px;
    background-color: #874C4C;
    color: white;
    font-size: 20px;
    width: 430px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#horario
{
    margin-left: 843px;
    margin-top: 10px;
}
input
{
    width: 425px;
    height: 137px;
    background-color: white;
    color: #874C4C;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    font-size: 15px;
}
button
{
    position: relative;
    font-size: 20px;
    color: white;
    background-color: #B57777;
    margin-left: 696px;
    margin-top: 70px;
    width: 256px;
    height: 57px;
    border-style: solid;
    border-radius: 15px;
    border-color: #B57777;
}
