body
{
    background-color: #F1D4D4;
    overflow: hidden;
}
#ret1
{
    width: 534px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #D39999;
    margin-right: 1173px;
    margin-top: -779px;
    margin-left: -10px;
    height: 100vh;
    padding-bottom: 46px;
}
.logo
{
    position: relative;
    margin-left: 833px;
    margin-top: 30px;
}
#imagem
{
    width: 500px;
}
#ret2
{
    margin-left: 765px;
}
#lg
{
    position: relative;
    margin-top: -82px;
    margin-left: 270px;
    color: #874C4C;
    font-size: 25px;
}
#bv
{
    width: 65%;
    padding-top: 341px;
    height: 200px;
    color: white;
    font-size: 50px;
}
#ac
{
    position: relative;
    color: white;
    text-decoration: underline;
    font-size: 20px;
    margin-top: -77px;
}
a
{
    position: relative;
    color: white;
    background-color: #D39999;
    border-color: #D39999;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 4px;
}
input[type=password] 
{
    font-size: 20px;
    color: gray;
    background-color: white;
    height: 48px;
    width: 600px;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
}
input[type=text] 
{
    font-size: 20px;
    color: gray;
    background-color: white;
    height: 48px;
    width: 600px;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
}
input[type=submit]
{
    position: relative;
    font-size: 20px;
    color: white;
    background-color: #D39999;
    width: 256px;
    height: 57px;
    border-style: solid;
    border-radius: 15px;
    border-color: #D39999;
    margin-top: 22px;
    margin-left: 189px;
}

