body
{
    background-color: #F1D4D4;
    overflow: hidden;
}
.texto
{
    color:#874C4C;
    margin-top: 80px;
    font-size: 30px;
    width: 1600px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.caixas
{
    background-color: #D39999;
    margin-top: 70px;
    margin-left: 65px;
    width: 720px;
    height: 600px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
#meu_upload
{
    display: none;
}
#nomep
{
    margin-left: 20px;
}
#preco
{
    margin-left: 20px;
    margin-top: 20px;
}
input[type=submit] 
{
    width: 200px;
    height: 45px;
    margin-top: 20px;
    margin-left: 20px;
    background-color:#874C4C;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #874C4C;
    border-radius: 15px;
}
.caixaimg
{
    background-color: #D39999;
    color: white;
    font-size: 20px;
    margin-top: -600px;
    margin-left: 801px;
    width: 720px;
    height: 600px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imagem
{
    width: 250px;
    height: 250px;
}
#voltar
{
    width: 40px;
    height: 40px;
    margin-top: -287px;
    margin-left: 70px;
}
input
{
    width: 470px;
    height: 28px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 15px;
}
#meu_upload
{
    display: none;
}