body
{
    background-color: #F1D4D4;
    overflow: hidden;
}
#ret1
{
    background-color: #D39999;
    color: white;
    font-size: 25px;
    height: 100px;
    width: 1680px;
    margin-left: -19px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.quadrado
{
    margin-left: 308px;
    margin-top: 30px;
}
#voltar
{
    margin-left: 83px;
    margin-top: 58px;
}
#consd
{
    background-color: #874C4C;
    color: white;
    font-size: 20px;
    width: 493px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#ret2
{
    background-color: #FFF3F3;
    width: 493px;
    height: 431px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#dt
{
    margin-left: 825px;
    margin-top: -514px;
    background-color: #874C4C;
    color: white;
    font-size: 20px;
    width: 430px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#data
{
    margin-left: 825px;
    margin-top: 10px;
}
#hr
{
    margin-left: 825px;
    margin-top: 28px;
    background-color: #874C4C;
    color: white;
    font-size: 20px;
    width: 430px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#horario
{
    margin-left: 825px;
    margin-top: 10px;
}
input[type=time]
{
    width: 425px;
    height: 137px;
    background-color: white;
    color: #874C4C;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    font-size: 15px;
}
input[type=date]
{
    width: 425px;
    height: 137px;
    background-color: white;
    color: #874C4C;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    font-size: 15px;
}
input[type=submit]
{
    width: 425px;
    height: 80px;
    color: white;
    background-color: #874C4C;
    border-style: solid;
    border-color: #874C4C;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 600px;
    margin-top: 43px;
}