body
{
    background-color: #F1D4D4;
    display: flex;
    overflow: hidden;
}
#ret1
{
    background-color: #D39999;
    margin: 0%;
    padding: 30%;
    height: 100vh;
    padding-bottom: 0%;
    float: left;
}
#imagem
{
    float: right;
    margin-top: 1%;
    margin-left: 5%;
}
#lg
{
    margin-left: 55%;
}
#campos
{
    margin-left: 55%;
}
button
{
    margin-left: 50%;
    margin-bottom: 5%;
}