body
{
    background-color: rgb(241,212,212);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100vh;
    margin:0%;
}
#retangulo1
{
    background-color: rgb(211, 153, 153, 1);
    position: absolute;
    width: 100%;
    height: 100px;

}
#p
{
    width: 10%;
    height: 20%;
    margin-top: 10%;
    background: #DEB6B6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}