
  
body{
    background-color: rgb(241,212,212);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100vh;
    margin:0%;
}
.retangulo1
{
    height: 130px;
    width: 1942px;
    background-color: rgb(211, 153, 153);
    color: white;
    text-align: center;
    align-items: center;
    justify-content:center;
    display: flex;
    font-size: 40px;
}
.logotipo
{ 
    width: 200px;
    height: 200px;
    margin-left: -1727px;
    margin-top: -158px;
     
}
.carrinho
{
    margin-left: 1670px;
    margin-top: -134px;
}
.icone
{
    margin-left: 1813px;
    margin-top: -65px;
}
.retangulo2
{
    height: 90px;
    width: 1942px;
    background-color: rgb(181, 119, 119);
    color: white;
    font-size: 30px;
    margin-top: 37px;
    display: flex;
    align-items: center;
    
}
#searchbar
{
    margin-left: 1541px;
    margin-top: -37px;
}
.lupa
{
    margin-left: 1831px;
    margin-top: -69px;
}
#marcar
{
    font-size: 30px;
    margin-left: 778px;
    margin-top: -27px;
    color: white;
}